* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Roboto;

}

img {
  max-width: 100%;
}

p {
  opacity: 70%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  left: 0;
  z-index: 50;
  margin: 10px;
}

.visually-hidden {
 clip: rect(0 0 0 0); 
 -webkit-clip-path: inset(50%); 
 clip-path: inset(50%);
 height: 1px;
 overflow: hidden;
 position: absolute;
 white-space: nowrap; 
 width: 1px;
}

h2,h3 {
  font-family: 'Philosopher';    
  text-align: center;
}

.making-time {
  margin-top: 174px;
  height: 100px;
  width: 380px;
  text-align: center;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  
}

.navigation ul li {
  margin-right: 20px;

}

.hero-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-content, .hero-img {
  width: 50%;
}

.making-time p {
  margin-bottom: 19px;
}

.lutton {
  background-color:#DC780B;
  color: #fff;
  border: 1px solid #DC780B;
  border-radius: 5px;
  padding: 20px 40px;
  margin: 20px 20px;
  text-decoration: none;
}

.button-two{
  color: #DC780B;
  background-color: #fff;
  border: 1px solid #DC780B;
  border-radius: 5px;
  margin: 30px;
  padding: 20px 40px;
  text-decoration: none;
  display: inline-block;
}

.button-three {
  background-color:#DC780B;
  color: #fff;
  border: 1px solid #DC780B;
  border-radius: 5px;
  padding: 15px 35px;
  margin-left: 450px;
  text-decoration: none;
}

.button-four{
  background-color: #DC780B;
  color: #fff;
  padding: 15px 40px;
  border: 1px solid #DC780B ;
  border-radius: 5px;
  text-decoration: none;

}

.hero-img img{
  width: 800px;
  height: 630px;
}

.btn {
  text-decoration: none;
  color: #150C01;
  opacity: 0.6;
}

.btn:hover {
  color: #DC780B;
}

.btn:active {
  color: rgb(100, 8, 54);
}

.btn:focus {
  color: orange;
}

h3 {
  color: #DC780B;
  text-align: center;
}

.food {
  text-align: center;
 
}

.photo {
  padding: 40px 40px;
  margin: 1px 120px;
}

.photo::before {
  background-color: #DC780B;
  background-image: url(./../img/Vector\ 3.png);
}


li {
  list-style: none;
}

.ulation li p {
  width: 300px;
  text-align: center;
  margin-left: 40px;

}

.ulation h3 {
  margin: 0;
}

.ulation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.father {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.sun-img, .sun {
  width: 50%;
}

.sun-img::before {
  background-image: url(./../img/Vector\ 3.png);
}

.sun-img{
  margin: 20px;
}

.sectioned::before {
  background-image: url(./../img/Vector\ 3.png);
  background-repeat: no-repeat;
}

.full {
  margin: 0px 36%;
  margin-bottom: 5px;
  width: 325px;
  height: 24px;
  top: 1920px;
  left: 557px;
  font-size: 31px;
}


.sun  {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 90px;
  height: 75px;
  
}

.big-box {
  margin: 120px 10px;
 
}

.box-inner p {
 width: 320px;
  padding: 5px 20px;
  
}

.lilation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}

.lilation li {
 padding: 25px;
 margin: 25px 10px;
 width: 360px;
 height: 480px;
 -webkit-box-shadow: 10px 40px 50px rgba( 229,233,246,0.4);
         box-shadow: 10px 40px 50px rgba( 229,233,246,0.4);
}

.eat {
  border-radius: 80px 10px 80px 0;
}

.span-star {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-food {
  background-color: #DC780B;
  width: 46px;
  height: 36px;
  border: 1px solid #DC780B;
  border-radius: 5px;
  margin-right: 150px;
  margin-bottom: 25px;
}

.well {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
 
}

.core {
 margin-right:auto;
 margin-left: auto;
}

.button-wolt {
  color: #DC780B;
  background-color: #fff;
  border: 1px solid #DC780B;
  border-radius: 5px;
  margin: 0 43% 40px 43%;
  padding: 15px 80px;
  width: 250px;
  text-decoration: none;
  display: inline-block;
}

.Naruto {
  background-color:#FBF1E7 ;
}

.susano {
background-color: #fadded;
}

.amaterasu {
  background-color:#252525 ;
}

.narx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.narx h3 {
  margin-left: 10px;
  font-size: 26px;
  height: 28px;
  width: 88px;
}

.span-box  h3 {
  margin-left: 126px;
  margin-top: 28px;
  width: 50px;
  height: 26px;
  font-size: 26px;
}

.boom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boom h3 {
  margin-left: 97px;
  margin-top: 23px;
  width: 50px;
  height: 26px;
  font-size: 26px;  
}

.bigger-boss {
  width: 1200px;
  margin: 20px 0;
  margin: 10px;
}

.imager {
  padding: 0 30px;
}

.big-boss {
 padding: 60px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 margin-left: auto;
 margin-right: auto;
}

.big-boss h2 {
  width: 550px;
  height: 72px;
}

.big-boss p {
  width: 550px;
  height: 66px;
  line-height: 24px;
  margin-bottom: 50px;
}

.famous {
  background-color: black;
  color: #fff;
  padding: 10px 30px ;
  margin: 30px;
  border-radius: 5px;
  text-decoration: none;
}

.famous-tow {
  background-color: #fff;
  color: #150C01;
  padding: 10px 30px ;
  margin: 30px;
  border-radius: 5px;
  text-decoration: none;
}

.bigger-mall {
 margin: 213px 50px;
}

.big-mall {
 text-align: center;
}

.just {
 opacity: 70%;
}

.big-mall p {
 width: 530px;
 height: 60px;
 margin-left: auto;
 margin-right: auto;
}

.faster {
 padding-left: 400px;
}

.faster-two {
 padding-right: 400px;
    
}

.bigger-klon {
 padding: 100px;
 text-align: center;     
}

.big-klon h4 {
 font-weight: 500px;
 line-height: 20px;
 letter-spacing: 0.2em;
 text-transform: uppercase;
 padding-right: 30px;
}

.big-klon h2 {
 font-weight: 700;
 font-size: 30px;
 line-height: 40px;
 margin-left: auto;
 margin-right: auto;
}

.input {
 border-radius: 10px;
 width: 777px; 
 height: 77px;
 border: 1px solid wheat;
 padding-left: 30px; 
}

.send {
 background-color: #DC780B;
 color: #fff;
 position: relative;
 border: 1px solid #DC780B ;
 border-radius: 10px;
 width: 156px; 
 height: 75px;
 right: -30px;
 position: absolute;
}

.pain {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 margin-left: 250px;
 margin-top: 46px;
 margin-bottom: 117px;
 position: relative;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
}

h4 {
 text-align: center;
 line-height: 24px;
}

.none {
 text-decoration: none;
 line-height: 36px;
 width: 200px;
 height: 13px;
 color: #fff;
 size: 14px;
}

.bigger-foot {
 color: #fff;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 margin-bottom: 20px;                    
}
  
.big-foot {
 padding: 169px 39px 70px 1px;     
}
 
.toxic {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 padding: 100px 10px;
}

.toxic a {
 color: #fff;
 text-decoration: none;
 line-height: 30px;
}
   
.toxic nav {
 padding: 30px 80px;
 width: 340px;
}

.big-foot a {
 color: #fff;
 opacity: 0.7;
 line-height: 16px;
 text-decoration: none;
 letter-spacing: 0.7px;
  }

.port img {
 padding: 5px 10px 0 0;
}
